---

- name: APT | Install packages
  apt:
    name:
      - lvm2
      - scsitools
      - xfsprogs
    update_cache: true
    cache_valid_time: 3600
    state: present
  with_items:

- name: COMMAND | Checking for scsi devices
  command: sg_scan
  register: scsi_devices
  changed_when: false

- name: COMMAND | Rescanning for new disks added
  command: /sbin/rescan-scsi-bus
  changed_when: false
  when:
    - scsi_devices.stdout is defined
    - scsi_devices.stdout != ""
